body{
    background: linear-gradient(135deg, #dfddd1, #cfcbb8);
    font-family: Arial, sans-serif;
    margin: 0;
}

/* HEADER */
.header {
    background-color: #32261e;
    color: #ffffff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.menu{
    display: flex;
    gap: 20px;
}

.menu-item {
    cursor: pointer;
}

/* GRID DE CATEGORIAS */
.categorias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}

/* CAJA DE CATEGORIA */
.categoria-box {
    background-color: #ffffff;
    border: 2px solid #717047;
    border-radius: 10px;
    padding: 10px;
}

/* BOTON ACORDEON */
.acordeon-btn{
    width: 100%;
    padding: 12px;
    background-color: #bb4d33;
    color: #ffffff;
    border: none;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.acordeon-btn:hover{
    background-color: #a9442c;
}

/* PANEL */
.panel{
    display: none;
    margin-top: 10px;
}

/* ITEMS */
.panel li{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:8px;
    list-style:none;
}