/*Fondo general*/
body{
    background-color: #dfddd1;
    font-family: Arial, sans-serif;
    color: #32261e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/*Contenedor del formulario*/
.contenedor{
    background-color: #fff;
    padding: 30px;
    border: 2px solid #717047;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,1);
    width: 300px;
    text-align: center;
}
/*Títulos*/
.contenedor h2{
    margin-bottom: 20px;
    color: #bb4d33;
}
/*Etiquetas*/
.contenedor label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}
/*Inputs*/
.contenedor input[type="text"],
.contenedor input[type="password"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border:1px solid #717047;
    border-radius: 5px;
}
/*Botón*/
.contenedor button{
    width: 100%;
    padding: 10px;
    background-color: #bb4d33;
    color: #fff;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.contenedor button:hover {
    background-color: #bec461;
}
/*Enlace de registro*/
.contenedor a{
    color: #bb4d33;
    text-decoration: none;
}
.contenedor a:hover{
    text-decoration: underline;
}